python_version >= "3.8"
streamlit
streamlit_chat
streamlit_option_menu
tokenizers
openai-whisper @ git+https://github.com/openai/whisper.git
librosa
ffmpeg
transformers
torch==2.4.0
gTTS
huggingface_hub
dotenv
python-dotenv
openai
