streamlit
streamlit_chat
streamlit_option_menu
tokenizers
whisper @ git+https://github.com/openai/whisper.git
librosa
ffmpeg
transformers
openai-whisper
torch==1.9.0+cpu
gTTS
huggingface_hub
dotenv
python-dotenv
openai
